@{
    if (Session["TaiKhoanAD"] == null)
    {
        Response.Redirect("~/Admin/Home/Login");
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quản Lý Bán Hàng</title>
    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/js/animate.css" rel="stylesheet" />
    <link href="~/libs/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/Assets/css/index.css" rel="stylesheet" />

    @RenderSection("cssHeader", required: false)
    <!-- JS -->
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/libs/theme/ckeditor/ckeditor.js"></script>
    <script src="~/libs/plugins/notify.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .nav-item .nav-link {
                font-family: 'proxima-nova-condensed-light', arial, serif;
                display: block;
                color: #000;
                text-decoration: none;
                /* height: 19px; */
                text-transform: uppercase;
                color: #eaaaaa !important;
                padding: 0 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #f5d9d9;padding: 2px;">
        <div class="container">
            <a class="navbar-brand" href="/" style="margin-right:70px;"><img src="~/Assets/img/ren-logo (1).png" width="55px;" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="margin-right:22px">
                        <a class="nav-link" href="/Admin/SanPham">Sản phẩm </a>
                    </li>
                    <li class="nav-item active" style="margin-right:22px">
                        <a class="nav-link" href="/Admin/DanhMuc">Danh mục</a>
                    </li>
                    <li class="nav-item active" style="margin-right:22px">
                        <a class="nav-link" href="/Admin/ThuongHieu">Thương hiệu</a>
                    </li>
                    <li class="nav-item active" style="margin-right:22px">
                        <a class="nav-link" href="/Admin/Mau">Màu</a>
                    </li>
                    <li class="nav-item active" style="margin-right:22px">
                        <a class="nav-link" href="/Admin/XuLyDonHang">Xử lý đơn hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="margin-top:30px">
        <div class="container-fluid">
            <!-- CONTENT -->
            @RenderBody()
        </div>
    </main>

    <script src="~/Assets/js/index.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>