<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
=======
<head>
    <meta charset="UTF-8">
    <title>CLOTHING</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- jquery -->
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- carousel -->
    <!-- boostrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/js/home.js"></script>
    <!-- boostrap css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--  font awesome -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- font chữ -->
    <link href="~/libs/js/animate.css" rel="stylesheet" />
    <link href="~/Assets/css/home.css" rel="stylesheet" />
</head>
>>>>>>> e21535ef34dc1c16d6989a9a77fa6a21967d8bf5

<body>
    <div id="page-main">
        <div class="header">
            <div class="header-main">
                <div class="page-main">
                    <div class="main">
                        <img src="~/Assets/img/ren-logo (1).png" id="machi-logo">
                        <div class="menu">
                            <ul>
                                <li><a href="">ABOUT</a></li>
                                <li><a href="/san-pham">CLOTHING</a></li>
                                <li><a href="">ACCESSORIES</a></li>
                                <li><a href="">SALE</a></li>
                                <li><a href="">BLOG</a></li>
                                <li><a href="">NEWS</a></li>
                                <li><a href="">FAQS</a></li>
                            </ul>
                            <div id="line-menu-left"></div>
                            <div id="line-menu-right"></div>
                        </div>
                        <div class="header-btn-down">
                            <a id="homebtndown">
                                <img src="~/Assets/img/ren-nav.png" alt="">
                            </a>
                        </div>
                        <div class="main-header-footer">
                            <div class="main-footer">
                                <div class="main-footer-left">
                                    <img src="~/Assets/img/ren-logo (1).png" alt="">
                                    <div class="text">
                                        2A Nguyen Thiep, Dist 1, HCM City
                                        <br> TEL: (+84) 123 886 4521
                                    </div>
                                </div>
                                <div class="main-footer-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-menu">
            <div class="wrapper-menu-fixed">
                <div class="sub-menu-logo">
                    <a href="#" class="link-ref">
                        <img src="~/Assets/img/ren-logo (1).png" alt="Alternate Text" />
                    </a>
                </div>
                <div class="sub-menu-content">
                    <div class="sub-menu-content-wrapper">
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="#">ABOUT</a>
                                </li>
                                <li>
                                    <a href="#">CLOTHING</a>
                                </li>
                                <li>
                                    <a href="#">ACCESSORIRES</a>
                                </li>
                                <li>
                                    <a href="#">SALE</a>
                                </li>
                                <li>
                                    <a href="#">BLOG</a>
                                </li>
                                <li>
                                    <a href="#">NEWS</a>
                                </li>
                                <li>
                                    <a href="#">FAQS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <section class="page-wrapper">
                <div class="content">
                    <div class="aboutus">
                        <div class="aboutus-wrapper">
                            <div class="aboutus-col1">
                                <div class="aboutus-col1-wrapper">
                                    <div class="aboutus-title">
                                        <div class="aboutus-title-wrapper">
                                            About us
                                        </div>
                                    </div>
                                    <div class="aboutus-control">
                                        <a href="" class="home-btn">SEE MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="aboutus-col2">
                                <img src="~/Assets/img/aboutus-(11).jpg" alt="">
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page-wrapper">
                <div class="content">
                    <div class="shopnow">
                        <div class="shopnow-col1">
                            <img src="~/Assets/img/lookbook-(14).jpg" alt="">
                        </div>
                        <div class="shopnow-col2">
                            <div class="shopnow-col2-wrapper">
                                <div class="shopnow-title">
                                    <div class="shopnow-title-wrapper">
                                        HERE COMES THE SUN
                                    </div>
                                </div>
                                <div class="shopnow-control">
                                    <a href="" class="home-btn">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="clear-fix"></div>
        <div class="footer">
            <img src="~/Assets/img/ren-logo (1).png" alt="">
            <div class="text-footer">
                2A Nguyen Thiep, Dist 1, HCM City
                <br> TEL: (+84) 123 886 4521
                <br> OPEN EVERYDAY: 9:30AM - 9:30PM
                <br>
            </div>
        </div>
    </div>
</body>
</html>