<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/themify-icons/themify-icons.css" rel="stylesheet" />
    <!-- jquery -->
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- boostrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <input type="text" name="name" value="" placeholder="Username"/>
        <input type="text" name="name" value="" placeholder="Password"/>
    </div>
</body>
</html>